.translate-native-to-foreign-exercise {

  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 300px;

  &__exercise-description {
    margin: 10px;
    font-style: italic;
  }

  &__image-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__word {
    font-weight: 600;
    margin: 25px auto;
  }

  &__answer {
    width: 100%;
  }

  &__results {
    height: 60px;
  }

  &__correct-result,
  &__wrong-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    font-size: 0.8em;
  }

  &__correct-result &__result-label {
    color: var(--color-text-good);
  }

  &__wrong-result &__result-label {
    color: var(--color-text-bad);
  }

  &__wrong-result &__correct-answer {
    font-size: 1.5em;
    font-style: italic;
    color: var(--color-text-good);
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      min-width: 100px;
    }
  }
}