.flash-card-details {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  min-height: 250px;

  margin-top: 2px;
  border: 1px solid var(--color-border);

  &__form {
    margin: 50px 100px;
  }

  &__form-fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }

  &__form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3px;
  }
}