.learning-session-progress {

  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px 0px;

  &__stage {
    flex: 1;
    margin: 2px;
    height: 5px;
    border: 1px solid var(--vt-c-text-green);
    border-radius: 3px;

    &_completed {
      height: 100%;
      background-color: var(--vt-c-text-green);
    }
  }
}
